<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=width=1200px, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="icon" href="{{url_for('static',filename='logo.png')}}" type="image/jpg">
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
            }
        }
    </script>
</head>
<body>
    <ul class = "nav">
        <img src="{{url_for('static',filename='calorieCounter.jpg')}}" height="78px" width="300px">
        <div class="navbar">
            <li class="navbar-item"><a href="{{url_for('registration')}}" class="navRef"><b>Registration</b></a></li>
            <li class="navbar-item"><a href="{{url_for('forgotpassword')}}" class="navRef"><b>Forgot Password</b></a></li>
        </div>
    </ul>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <center class="regSucs">
                    <b>{{ message }}</b>
                </center>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <center>
        <div class = 'mainBox'>
            <div class="box">
                <img src="{{url_for('static',filename='login.png')}}" alt="Login Logo" height="95%" width="98%" style="margin-top: 10px; border-radius: 10px;">
            </div>
            <div class = 'box'>
                <img src="{{url_for('static',filename='logo.png')}}" width="100px" height="100px" class="logo">
                <h2>Calorie Counter</h2>
                <h4>Welcome to Calorie Counter's Login Page</h4>
                <div class="formFields">
                <form method="post">
                    <label for="username"><b>Username: </b></label><br>
                    <input type="text" name="username" placeholder="Enter Username" autocomplete="off"><br><br>
                    <label for="password"><b>Password: </b></label><br>
                    <input type="password" placeholder="Enter Password" name="password" id="myInput"><br>
                    <input type="checkbox" name="remember me" onclick="myFunction()">
                    <label for="remember me" style="font-size: 15px;">Show Password</label><br>
                    <a href="{{url_for('forgotpassword')}}" style="cursor: pointer; font-size: medium;" class="bodyLink"><b>Forgot Password?</b></a><br>
                    <button type="submit">Login</button>   
                    <h3 class="notMem">Not a member? - <a href="{{url_for('registration')}}" class="bodyLink">Register Here</a></h3>
                </form>
                </div>
            </div>
        </div>
    </center>
</body>
<footer>
    <section class="footerDiv">
        <div class="foot" style="width: 33.33%;">
           <b><p style="margin-left: 15%; margin-bottom: 0px; margin-top: 0px; font-size: larger;">Contact Us</p><br>
                <ul style="margin-left: 12%; margin-top: -12px; list-style-type: none;" >
                    <li><i class="fa fa-phone" style="font-size:15px"></i> Phone: <a href="tel:9849905580" style="text-decoration: none;">9849905580</a><br></li>
                    <li><i class="material-icons" style="font-size:15px; margin-top: 3px;">email</i> Email: <a href="mailto:caloriecounterapplication@gmail.com" style="text-decoration: none;">caloriecounterapplication@gmail.com</a></li>
                </ul>
            </b>
        </div>
        <div class="foot" style="width: 85%;">
            <b style="font-size: larger; margin-left: 170px;">Unlock the power of mindful eating. Track your calories effortlessly.</b>
            <p style="margin-top: 0px; font-size: large; padding: 10px;">Track, analyze, and conquer your calories with our intuitive and powerful calorie counter application. Empower yourself to make informed choices, achieve your health goals, and live a balanced life. Join our community of calorie-conscious individuals and take control of your wellness journey today.</p>
        </div>
    </section>
    <h3 style="text-align: center; padding: 0px; margin-bottom: -7px;"><b>&copy;2023 All Rights Reserved</b></h3><br>
</footer>
</html>